<!-- SIDEBAR EN LA CLASE SIDERBARCOMPONENTE -->
<app-sidebar></app-sidebar>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" *ngIf="vista"><a style="cursor: pointer;" (click)="changeView()">Subir Documento</a>
    </li>
    <li class="breadcrumb-item" *ngIf="!vista"><a style="color: #efb810;">Subir Documento</a></li>
    <li class="breadcrumb-item" *ngIf="!vista"><a style="cursor: pointer;" (click)="changeView()">Historial de
        Registros</a></li>
    <li class="breadcrumb-item" *ngIf="vista"><a style="color: #efb810;">Historial de Registros</a></li>
  </ol>
</nav>
<!-- <h1 *ngIf="!vista">&bull;documentos&bull;</h1> -->
<h1 *ngIf="!vista" class="firstH1">
  <b>
    <div class="Welcome" id="firstHeader">&bull;Docum</div>
    <div class="to" id="firstHeader">en</div>
    <div class="the" id="firstHeader">tos&bull;</div>
 
  </b>
</h1>
<div id="historial" class="file-area">
  <!-- SOLTAR PDF -->
  <div class="file-dummy" *ngIf="preview==0 && !vista">
    <div class="btn btn-default">
      <input type="file" flow-btn style="position: absolute;" (change)="getFile($event)">
      <span (change)="getFile($event)" style="color: #186c9c;" *ngIf="fileTmp==null">Arrastra tu Documento o da click
        aqui para importarlo </span>
      <span style="color: #333333;">{{ fileTmp?.fileName }}</span>
      <!-- OPTIENE EL NOMBRE DEL PDF -->
      <!-- <input type="file" (change)="getFile($event)"> -->
   </div>
  </div>
</div>

<div *ngIf="!vista && preview == 0">
  <!-- BUTTON DE ENVIAR PDF-->
  <button [ngModel]="tipodebusqueda" (ngModelChange)="onChange($event)" class="conteo2"
    (click)="sendFile()">Enviar</button>
  <button type="button" class="conteo2" (click)="changeView2()">Manual</button>
  <!-- FIN DEL BUTTON DE ENVIAR PDF-->
</div>
<div *ngIf="conteo && !vista" id="container">
  
  <div class="col">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div class="form-outline">
            <div class="input-group mb-3">
              <!-- FORMA MANUAL FORMULARIO -->

              <input [(ngModel)]="valorabuscar" type="text" class="txtbuscar" placeholder="Busca tu Ciber" />
            </div>
            <table class="table" *ngIf="valorabuscar.length>0">
              <tbody>
                <tr *ngFor="let cibers of getciber | buscarciber: valorabuscar ">
                  <td (click)="clickciber(cibers.id, cibers.nombre)" style="cursor: pointer; " (click)="changeView4()">
                    {{cibers?.nombre}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <h1 *ngIf="conteo3">&bull;Cargar documentos de forma manual&bull;</h1>
  
    <div *ngIf="conteo3" class="row row-cols-1 row-cols-md-3 g-4">
      <!-- Tipo de documento -->
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Tipo de documento</h5>
              <!-- <li class="list-group-item">{{ info?.tipo }}</li> -->

              <input type="text" [(ngModel)]="tipo">
            </div>
          </div>
        </div>
      </div>
      <!-- Tipo de CURP -->
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Curp</h5>
              <!-- <li class="list-group-item">{{ info?.curp }}</li> -->

              <input type="text" [(ngModel)]="curp">
              <!-- <label class="form-label" for="form1">Search</label> -->
            </div>
          </div>
        </div>
      </div>
      <!-- Tipo de ESTADO -->
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Estado</h5>
              <!-- <li class="list-group-item">{{ info?.estado }}</li> -->
              <input type="text" [(ngModel)]="estado">
            </div>
          </div>
        </div>
      </div>
      <!-- Tipo de NOMBBRE -->
      <div class="col">
        <div class="card h-100">

          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Nombre</h5>
              <!-- <li class="list-group-item">{{ info?.nombre }}</li> -->
              <input type="text"  [(ngModel)]="nombredecliente">
            </div>
          </div>
        </div>
      </div>
      <!-- Tipo de APELIIDOS -->
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Apellidos</h5>
              <!-- <li class="list-group-item">{{ info?.apellidos }}</li> -->
              <input type="text"  [(ngModel)]="apellidosc">
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Asesor</h5>
              <li class="list-group-item">{{nombreasesor}}</li>
            </div>
          </div>
        </div>
      </div>
      <!-- PRECIO -->
      <div class="col" *ngIf="myRol == 'Admin'">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Precio</h5>
              <!-- <li class="list-group-item">{{precioyasesor?.precio}}</li> -->
              <input type="text">{{precioyasesor?.precio}}
            </div>
          </div>
        </div>
      </div>
      <!-- LISTBOX AESORES -->
    </div>
    <!-- BOTON DE ENVIAR DEL FORMULAERIO DE ASESORES Y DATOS DEL DOCUMENTO -->
    <button *ngIf="conteo3" class="conteo2" (click)="enviaracta()">Enviar</button>
    <button *ngIf="conteo3" class="conteo3" (click)="backUp()">Regresar</button>
  </div>
</div>
<!-- STYLE DE DROP -->
<style>
  .file-area {
    width: 100%;
    position: relative;
    font-size: 18px;
  }

  .file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    cursor: pointer;
  }

  .file-area .file-dummy {
    width: 100%;
    padding: 50px 30px;
    border: 2px dashed #efb810;
    background-color: #fff;
    text-align: center;
    transition: background 0.3s ease-in-out;
  }

  .file-area .file-dummy .success {
    display: none;
  }

  .file-area:hover .file-dummy {
    border: 2px dashed #efb810;
  }

  .file-area input[type=file]:valid+.file-dummy {
    border-color: #efb810;
  }

  .file-area input[type=file]:valid+.file-dummy .success {
    display: inline-block;
  }

  .file-area input[type=file]:valid+.file-dummy .default {
    display: none;
  }
</style>
<!-- FIN DE SOLTAR PDF -->

<!-- Parte de la tabla de historial -->
<div *ngIf="preview!=0 && !vista" id="container">

  <div class="col">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div class="form-outline">

            <div class="input-group mb-3" *ngIf="nombreasesor==''">
              <!-- FORMA MANUAL FORMULARIO -->

              <!--  <select class="form-select" id="inputGroupSelect01">
                <option value="actual" selected>Selecciona un Ciber</option>
              </select> -->
              <!-- BSUCAR EN EL Historial -->
              <input [(ngModel)]="valorabuscar" type="text" class="txtbuscar" placeholder="Busca tu Ciber" />
            </div>
            <table class="table" *ngIf="valorabuscar.length>0 && nombreasesor==''">
              <tbody>
                <tr *ngFor="let cibers of getciber | buscarciber: valorabuscar ">
                  <td (click)="clickciber(cibers.id, cibers.nombre)" style="cursor: pointer;" (click)="changeView3()">
                    {{cibers?.nombre}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <h1 >&bull;RESUMEN&bull;</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <!-- Tipo de documento -->
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Tipo de documento</h5>
              <li class="list-group-item">{{ info?.tipo }}</li>
            </div>
          </div>
        </div>
      </div>
      <!-- Tipo de CURP -->
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Curp</h5>
              <li class="list-group-item">{{ info?.curp }}</li>
              <!-- <label class="form-label" for="form1">Search</label> -->
            </div>
          </div>
        </div>
      </div>
      <!-- Tipo de ESTADO -->
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Estado</h5>
              <li class="list-group-item">{{ info?.estado }}</li>

            </div>
          </div>
        </div>
      </div>
      <!-- Tipo de NOMBBRE -->
      <div class="col">
        <div class="card h-100">

          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Nombre</h5>
              <li class="list-group-item">{{ info?.nombre }}</li>

            </div>
          </div>
        </div>
      </div>
      <!-- Tipo de APELIIDOS -->
      <div class="col" *ngIf="info?.apellidos != null">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Apellidos</h5>
              <li class="list-group-item">{{ info?.apellidos }}</li>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Asesor</h5>
              <li class="list-group-item">{{nombreasesor}}</li>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Nombre de archivo</h5>
              <li class="list-group-item">{{fileTmp.fileName}}</li>
            </div>
          </div>
        </div>
      </div>
      <!-- PRECIO -->
      <div class="col" *ngIf="myRol == 'Admin'">
        <div class="card h-100">
          <div class="card-body">
            <div class="form-outline">
              <h5 style="color: #efb810" class="card-title">Precio</h5>
              <li class="list-group-item">{{precioyasesor?.precio}}</li>
            </div>
          </div>
        </div>
      </div>
      <!-- LISTBOX AESORES -->
    </div>
    <!-- BOTON DE ENVIAR DEL FORMULAERIO DE ASESORES Y DATOS DEL DOCUMENTO -->
    <button *ngIf="conteo2" class="conteo2" (click)="enviaracta()">Enviar</button>
    <button *ngIf="conteo2" class="conteo3" (click)="backUp()">Regresar</button>
  </div>
</div>
<div *ngIf="vista">
  <div>
  </div>
  <!-- <h1>&bull;Registros&bull;</h1> -->
  <h1  class="firstH1">
    <b>
      <div class="Welcome" id="firstHeader">&bull;Reg</div>
      <div class="to" id="firstHeader">is</div>
      <div class="the" id="firstHeader">tr</div>
      <div class="Future" id="firstHeader">os&bull;</div>
    </b>
  </h1>

</div>
<!-- USERS LIST -->
<div class="card mx-auto" style="width: 100%;" *ngIf="vista">


 
  <div class="form-group">
    <div class="input-group mb-3">
      <!-- FORMA MANUAL FORMULARIO -->

      <!--  <select class="form-select" id="inputGroupSelect01">
        <option value="actual" selected>Selecciona un Ciber</option>
      </select> -->
      <input [(ngModel)]="buscargethistorial" type="text" class="txtbuscar" placeholder="Buscar por curp" />
    </div>
      
  </div>

  <table style=" border-radius: 1rem !important; font-size:1.2em;"class="table table-striped">
 
    <thead>
      <tr>
        <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;">#</th>
        <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;">Id</th>
        <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;">Tipo de documento</th>
        <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;">Curp</th>
        <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000;font-size:1.2em;">Estado</th>
        <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;">Nombre</th>
        <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;">Ciber</th>
        <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;">Asesor</th>
        <th scope="col" *ngIf="myRol == 'Admin'" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;">Precio del acta al negocio</th>
        <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;" >Se solicito</th>
        <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;">Fecha</th>
        <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;">Otros</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer;" *ngFor="let cortes of getcortes | paginate: { itemsPerPage: 20, currentPage: page }  |  buscarhistorial:buscargethistorial">
        <td style=" color: #000; font-size:1.1em; " >{{cortes?.i}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{cortes?.id}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{cortes?.document}}</td>
        
        <td style=" color: #000; font-size:1.1em; ">{{cortes?.curp}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{cortes?.states}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{cortes?.nombreacta}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{cortes?.provider}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{cortes?.enterprise}}</td>
        <td *ngIf="myRol == 'Admin'" style=" color: #000; font-size:1.1em; ">$ {{cortes?.price }}</td>
        <td style=" color: #000; font-size:1.1em; ">{{cortes?.requested}}</td>
        <td style=" color: #000; font-size:1.1em; ">
          {{ cortes?.createdAt | date:'yyyy-MM-dd' }}
         
          <input type="date" [(ngModel)]="fecha" name="fecha" id="fecha">
         

          <fa-icon [icon]="facalend" class="add-user"
            (click)="EditFecha(cortes.id)"></fa-icon>
           
        </td>
   
        <td style="text-align: center;">
         
          <fa-icon [icon]="papelera" class="add-user"
          (click)="moveraPapelera(cortes.id,cortes.document)"></fa-icon>

        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <div class="card-body text-center">
    
    <button class="conteo2" (click)="exportexcel()">Descargar Excel</button>

  </div>

</div>
 
<button class="conteo4" *ngIf="vista && myRol == 'Admin'" (click)="changeView5()">Papelera</button>
<div class="card mx-auto" style="width: 100%;" *ngIf="papeleras ">


 
  <div class="form-group">
    <div class="input-group mb-3">
      <!-- FORMA MANUAL FORMULARIO -->

      <!--  <select class="form-select" id="inputGroupSelect01">
        <option value="actual" selected>Selecciona un Ciber</option>
      </select> -->
    
    </div>
    <h1 style="text-align: center;">Papelera</h1>
  </div>

  <table style=" border-radius: 1rem !important; font-size:1.2em;"class="table table-striped">
    
    <thead>
      <tr>
        <th scope="col" style="background-color:rgba(255,255,81,90%); color: #000; font-size:1.2em;">#</th>
        <th scope="col" style="background-color:rgba(255,255,81,90%); color: #000; font-size:1.2em;">Id</th>
        <th scope="col" style="background-color:rgba(255,255,81,90%); color: #000; font-size:1.2em;">Tipo de documento</th>
        <th scope="col" style="background-color:rgba(255,255,81,90%); color: #000; font-size:1.2em;">Curp</th>
        <th scope="col" style="background-color:rgba(255,255,81,90%); color: #000;font-size:1.2em;">Estado</th>
        <th scope="col" style="background-color:rgba(255,255,81,90%); color: #000; font-size:1.2em;">Nombre</th>
        <th scope="col" style="background-color:rgba(255,255,81,90%); color: #000; font-size:1.2em;">Ciber</th>
        <th scope="col" style="background-color:rgba(255,255,81,90%); color: #000; font-size:1.2em;">Asesor</th>
        <th scope="col" *ngIf="myRol == 'Admin'" style="background-color:rgba(255,255,81,90%); color: #000; font-size:1.2em;">Precio del acta al negocio</th>
        <th scope="col" style="background-color:rgba(255,255,81,90%); color: #000; font-size:1.2em;" >Se solicito</th>
        <th scope="col" style="background-color:rgba(255,255,81,90%); color: #000; font-size:1.2em;">Borrado por</th>
        <th scope="col" style="background-color:rgba(255,255,81,90%); color: #000; font-size:1.2em;">Fecha</th>
        <!-- <th scope="col" style="background-color:rgba(150,150,253,90%); color: #000; font-size:1.2em;">Otros</th> -->
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer;" *ngFor="let papel of gettraerPapelera2 | paginate: { itemsPerPage: 20, currentPage: page }  |  buscarhistorial:buscargethistorial">
        <td style=" color: #000; font-size:1.1em; " >{{papel?.i}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{papel?.id}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{papel?.document}}</td>
        
        <td style=" color: #000; font-size:1.1em; ">{{papel?.curp}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{papel?.states}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{papel?.nombreacta}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{papel?.provider}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{papel?.enterprise}}</td>

        <td *ngIf="myRol == 'Admin'" style=" color: #000; font-size:1.1em; ">$ {{papel?.price }}</td>
        <td style=" color: #000; font-size:1.1em; ">{{papel?.requested}}</td>
        <td style=" color: #000; font-size:1.1em; ">{{papel?.culpable.nombre}}</td>
        <td style=" color: #000; font-size:1.1em; ">
          {{ papel?.createdAt | date:'yyyy-MM-dd' }}
         
          <!-- <input type="date" [(ngModel)]="fecha" name="fecha" id="fecha"> -->
         

          <!-- <fa-icon [icon]="facalend" class="add-user"
            (click)="EditFecha(cortes.id)"></fa-icon> -->
           
        </td>
        <fa-icon [icon]="restored" class="add-user"
        (click)="restaurarPapelera(cortes.id,cortes.document)"></fa-icon>
        <!-- <td style="text-align: center;">
         
          <fa-icon [icon]="papelera" class="add-user"
          (click)="moveraPapelera(cortes.id,cortes.document)"></fa-icon>
          <fa-icon [icon]="faTrashCan" class="add-user"
            (click)="deleteItemActa(cortes.id, cortes.document, cortes.enterprise)"></fa-icon>
        </td> -->
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <div class="card-body text-center">
    
  

  </div>

</div>


<!-- FIN DE LA TABLA DE CONTENIDO -->

<div class="card mx-auto" style="width: 100%;">

  <table id="excel-table" class="table table-dark table-hover table-striped" style="visibility: hidden;">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Tipo de documento</th>
        <th scope="col">Curp</th>
        <th scope="col">Estado</th>
        <th scope="col">Nombre</th>
        <th scope="col">Asesor</th>
        <th scope="col">Ciber</th>
        <th scope="col" *ngIf="myRol == 'Admin'">Precio del acta al negocio</th>
        <th scope="col">Se solicito</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer;" *ngFor="let cortes of getcortes ">
        <td>{{cortes?.i}}</td>
        <td>{{cortes?.id}}</td>
        <td>{{cortes?.document}}</td>
        <td>{{cortes?.curp}}</td>
        <td>{{cortes?.states}}</td>
        <td>{{cortes?.nombreacta}}</td>
        <td>{{cortes?.provider}}</td>
        <td>{{cortes?.enterprise}}</td>
        <td *ngIf="myRol == 'Admin'">$ {{cortes?.price }} </td>
        <td>{{cortes?.requested}}</td>
        <td>
          {{ cortes?.createdAt }}
        </td>


      </tr>
    </tbody>

  </table>

</div>