<!-- NAVBAR -->
<div class="navbar">
  <div class="title">
    <!-- <div class="logoImg">
    </div> -->
    <div class="titleText">
      ACTAS AL INSTANTE
    </div>
  </div>
  <div class="user">
    <img class="card-avatar" src="../../../assets/images/faces/user.png" alt="avatar" />
    <label for="user" class="user-label">{{ usuario }}</label>


    <!-- <div class="displayMenu">
      <div class="menuNav">
          <li> <fa-icon [icon]="faAddressCard"></fa-icon> Perfil  </li>
          <li> <fa-icon [icon]="faPowerOff"></fa-icon> Cerrar Sesión  </li>
      </div>
    </div> -->


  </div>




</div>


<!-- SIDEBAR -->
<div class="sidebar">

  <div class="side-title"> 

    <fa-icon [icon]="faBars" class="icon-menu"></fa-icon>

    <label for="side-title" class="title-menu">MENU</label>
    
  </div>


  <div class="side-menu">
    <div class="col">
      <div class="row">
        <fa-icon [icon]="faHomeUser" class="icon"></fa-icon> <label for="row" class="category">INICIO</label>
      </div>
      <div class="row">
        <fa-icon [icon]="faGear" class="icon"></fa-icon> <label for="row" class="category">ADMINISTRAR</label>
      </div>
      <div class="row">
        <fa-icon [icon]="faFile" class="icon"></fa-icon> <label for="row" class="category">ACTAS</label>
      </div>
      <div class="row">
        <fa-icon [icon]="faFile" class="icon"></fa-icon> <label for="row" class="category">RFC</label>
      </div>
      <div class="row">
        <fa-icon [icon]="faSackDollar" class="icon"></fa-icon> <label for="row" class="category">CORTE</label>
      </div>
      <div class="row">
        <fa-icon [icon]="faBook" class="icon"></fa-icon> <label for="row" class="category">DOCUMENTOS</label>
      </div>
    </div>
  </div>
</div>


<!-- CONTENTS -->

<div class="myContent">
  <app-actas></app-actas>
</div>



<div class="back">
</div>