


<app-sidebar></app-sidebar>
 <!-- USERS LIST -->
 <div class="card mx-auto" style="width: 100%;">

    <ag-grid-angular 
    style="width: 500px; height: 200px;" 
    class="ag-theme-alpine"
    [rowData]="rowData" 
    [columnDefs]="columnDefs">
</ag-grid-angular>



    <table class="table table-dark table-hover table-striped">
      <thead>
        <tr>
          <th scope="col">N</th>
          <th scope="col">Tipo de documento</th>
          <th scope="col">Curp</th>
          <th scope="col">Estado</th>
          <th scope="col">Nombre</th>
          <th scope="col">Asesor</th>
          <th scope="col">Ciber</th>
          <th scope="col">Precio del acta al negocio</th>
          <th scope="col">Se solicito</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer;"
          *ngFor="let cortes of getcortes | paginate: { itemsPerPage: 20, currentPage: page }">
          <td>{{cortes?.id}}</td>
          <td>{{cortes?.document}}</td>
          <td>{{cortes?.curp}}</td>
          <td>{{cortes?.states}}</td>
          <td>{{cortes?.nombreacta}}</td>
          <td>{{cortes?.provider}}</td>
          <td>{{cortes?.enterprise}}</td>
          <td>{{cortes?.price}}</td>
          <td>{{cortes?.requested}}</td>
          <td>
            {{ cortes?.createdAt | date:'yyyy-MM-dd' }}
          </td>
          
        </tr>
      </tbody>


      
    </table >
    <pagination-controls (pageChange)="page = $event"></pagination-controls>

</div>
<!-- FIN DE LA TABLA DE CONTENIDO -->
