<app-sidebarpanelhistorial></app-sidebarpanelhistorial>



<head>
  <title>Sidea</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <section class="ftco-section">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container-fluid">
   
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav m-auto">

            <li class="nav-item active"><a href="inicio" class="nav-link">Actas</a></li>
            <li class="nav-item dropdown">
            </li>
            <li class="nav-item"><a href="administrar" class="nav-link">Administrar</a></li>
            <li class="nav-item"><a href="historial" class="nav-link">Carga de documentos</a></li>
            <li class="nav-item"><a href="pagos" class="nav-link">Historial</a></li>
            <li class="nav-item"><a href="publicidad" class="nav-link">Publicidad</a></li>
            <li class="nav-item"><a href="inicio" class="nav-link">Historial de Sidea</a></li>
              <!-- <h5 class="font-bold">{{usuario}}</h5> -->
          </ul>
     
        </div>
         <!-- IMAGEN USER -->
        <div class="d-flex align-items-center">
          <div class="avatar avatar-xl">
              <img src="../../../assets/images/loginuser.png" [width]="80" alt="Face 1">
          </div>
          <div class="ms-3 name">
              <h5 class="font-bold">{{usuario}}</h5>
              <h6 style="color: red; cursor: pointer; " (click)="logout()" class="mb-0">Cerrar
                  sesión</h6>
          </div>
      </div>
      </div>
    </nav>
    <!-- END nav -->
  </section>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>