<app-sidebarpanelhistorial></app-sidebarpanelhistorial>

<body >
  
  <nav  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light "  id="ftco-navbar">
          <ul class="navbar-nav m-auto" >
          <li class="nav-item active"><a href="inicio" class="nav-link">Actas</a></li>
          <li class="nav-item dropdown">
          </li>
          <li class="nav-item"><a href="administrar" class="nav-link">Administrar</a></li>
          <li class="nav-item"><a href="historial" class="nav-link">Carga de documentos</a></li>
          <li class="nav-item"><a href="pagos" class="nav-link">Corte</a></li>
          <li class="nav-item"><a  href="corte" class="nav-link">Historial</a></li>
          <li class="nav-item"><a href="publicidad" class="nav-link">Publicidad</a></li>
          <li class="nav-item"><a href="inicio" class="nav-link">Historial de Sidea</a></li>
       
          <!-- <h5 class="font-bold">{{usuario}}</h5> -->
        </ul>
  
      <!-- IMAGEN USER -->
      <div class="d-flex align-items-center">
        <div class="avatar avatar-xl">
          <img src="../../../assets/images/loginuser.png" [width]="80" alt="Face 1"> 
        </div>
        <div class="ms-3 name">
          <h5 class="font-bold">{{usuario}}</h5>
          <h6 style="color: red; cursor: pointer; " (click)="logout()" class="mb-0">Cerrar
            sesión</h6>
        </div>
      </div>
   
  </nav>
  <!-- END nav -->
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</body>
